/*  */
body {
  color: #eee;
  background-color: #333;
}

/*  */
a,
a:link {
  color: #eee;
  text-decoration: none;
}

a:visited {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #f8e6b4;
  text-decoration: none;
}

a:active {
  color: #f4c74c;
  text-decoration: none;
}

a.active {
  color: #f4c74c;
  text-decoration: none;
}

/*  */
.tight-p {
  margin: 0;
  padding: 0;
}

span.strong {
  font-weight: 700;
}

/* map */
.map-container {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  width: 100%;
  height: 80vh;
}

/* layer buttons */

.layer-button {
  border-radius: 2rem;
  line-height: 1.1;
  font-size: 12px;
  /* font-weight: 700; */
  background-color: #fff;
  color: #111;
  border: none;
  padding: 5px 14px 5px 9px;
  margin: 0.1rem 0.1rem;
}

.layer-button.active,
.layer-button.active:hover {
  background-color: #f4c74c;
  color: #111;
}

.layer-button:hover {
  background-color: #f8e6b4;
  color: #111;
}

.layer-button:active,
.layer-button:focus,
.layer-button.active:active,
.layer-button.active:focus {
  background-color: #f4c74c;
  color: #111;
}

/*  */
.dk-gray {
  background-color: #444;
}

.gray {
  background-color: #555;
}

.gray-text {
  color: #a4a4a4;
}
.black-text {
  color: #111;
}

.black {
  color: #fff;
  background-color: #111;
  padding: 0.75rem;
  padding-left: 30px;
}

.sm-caps {
  font-size: 0.7rem;
  font-weight: 400;
  color: #b9b9b9;
  line-height: 1.05;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.p-bold {
  font-size: 1.05rem;
  line-height: 1.1;
  color: #b9b9b9;
  letter-spacing: 0rem;
  padding: 0;
  margin: 0;
}

.lg-bold {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.02rem;
  padding: 0;
  margin: 0;
}

.mapboxgl-popup {
  max-width: 270px;
  z-index: 6;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

.pop {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.35;
}

.bold {
  font-weight: 700;
}

.lg {
  font-size: 0.85rem;
}

hr {
  margin: 0.3rem 0 0.3rem;
  opacity: 0.2;
}

.mapboxgl-popup-content {
  padding: 9px 23px 9px 13px;
  border-radius: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ababab;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  top: 1px;
}

.red {
  background-color: #c10000;
  opacity: 0.8;
}
